<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIMIMARKET</title>

    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/post.css">
    <script type="text/javascript" src="../script/postTemplate.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/index.html"><img src="../img/logo-typo.svg" alt="DIMIMARKET"></a>
            <input type="text" placeholder="필요한 물건이 있으신가요?"> 
        </div>
    </header>
    <div id="paragraph">
    </div>
    
    <footer>
        <div class="footer-container">
            <div class="footer-top">
                <img src="../img/logo-typo-white.svg">
            </div>
            <div class="footer-bottom">
                대표이사: 이택준  |  개인정보보호책임자: 이택준  |  주소: 경기도 안산시 사세충열로 94 한국디지털미디어고등학교<br>
                사업자등록번호: 123-45-67890<br>
                통신판매업신고: 2021-경기안산-1234<br>
                호스팅서비스 제공자: Amazon Web Services (AWS)
            </div>
        </div>
    </footer>
</body>
</html>