<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/postdetail.css">
    <title>DIMIMARKET</title>
</head>
<body>
    <section class="detail">
        <img class="mdIMG" src="../img/${img}.png">
        <div class="mdInfo">
            <span class="leftThumbInfo">
                <span class="mdUsername">2435 디테계</span>
                <span class="mdUploadTime">10분전</span>
            </span>
            <span class="mdTarget">목표수량 5/10</span>
        </div>
    </section>
</body>
</html>